<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/header') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/aboutus.css" />
    <link rel="stylesheet" href="css/preloader.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>About Us</title>
  </head>
  <body>
    <%- include('./partial/navbar') %><%- include('./partial/languageButton') %>
    <!--Pre loader-->
    <div class="lds-ring" id="preloader"></div>
    <div class="section-2">
      <div class="parallax-background"></div>
      <div class="product-card" data-aos="fade-up" data-aos-duration="2500">
        <div class="content-2">
          <img
            src="/image/gudang.png"
            alt=""
            style="max-height: 500px"
            class="img-fluid img-1"
          />
          <div class="content">
            <p class="desc-1 english" data-id="desc-1">
              <span class="highlight-text">Our Company</span><br />
              Gracio Sentosa Bersama specializes in the manufacture of plastic
              packaging. Our company has been engaged in this industrial sector
              since 2018 by selling a variety of superior products for consumers
              by using advanced technology, environmentally friendly and skilled
              employees specifically within the company. Since our
              establishment, we have been committed to making the best quality
              products at affordable prices, pursuing excellence and improving
              our services. Our belief is that in order to continue to improve
              the company's internal and external service mechanisms and
              after-sales services, we will continue to develop and conduct
              research on new products. With the continual growth of our
              company, we believe that we can enhance our production and strive
              to be one of the best plastic production companies in the
              industry.
            </p>
            <a
              href="https://docs.google.com/presentation/d/1W3K0C5dE9T1_ViVqkgWT-r--UlN3LRWD_zAoKNjAFF4/edit#slide=id.p8"
              target="”_blank”"
            >
              <button class="cta-button">View Company Profile</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey">
      <div class="icons-title" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="philosophy-title">Our Philosophy</h2>
      </div>
      <div class="icons" data-aos="fade-up" data-aos-duration="2000">
        <div class="icon-container">
          <div class="mission">
            <img src="/image/mission.png" alt="" />
          </div>
          <div class="icon-label">
            <h5>MISSION</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
        <div class="icon-container">
          <div class="vision">
            <img src="/image/vision.png" alt="" />
          </div>
          <div class="icon-label">
            <h5>VISION</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
        <div class="icon-container">
          <div class="values">
            <img src="/image/values.png" alt="values" />
          </div>
          <div class="icon-label">
            <h5>VALUES</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey-dark">
      <div class="icons-title" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="philosophy-title">Our Strengths</h2>
      </div>
      <div class="icons" data-aos="fade-up" data-aos-duration="2000">
        <div class="icon-container">
          <div class="mission">
            <img src="/image/efficient.png" alt="" />
          </div>
          <div class="icon-label">
            <h5>EFFICIENCY</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
        <div class="icon-container">
          <div class="vision">
            <img src="/image/reliable.png" alt="" />
          </div>
          <div class="icon-label">
            <h5>RELIABLE</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
        <div class="icon-container">
          <div class="values-2">
            <img src="/image/commitment.png" alt="" />
          </div>
          <div class="icon-label">
            <h5>COMMITMENT</h5>
            <p class="desc-icon">
              To become a plastic manufacturing company that is competitive,
              innovative, superior and the first choice of consumers by focusing
              on quality products
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="javascript/preloader.js"></script>
  </body>
  <%- include('./partial/footer') %> <%- include('./partial/scriptFooter') %>
</html>
